.section {
  overflow: auto;
  background-image: linear-gradient(315deg, var(--663399-40d7c244) 38%, var(--paleTurquoise-ce3fb764));
  transition: opacity 200ms ease;
}

.container {
  height: 600px;
}

.body1box1 {
  margin-top: 133px;
  align-items: center;
}

.heading {
  width: 400px;
  color: hsla(162, 0.00%, 94.00%, 1.00);
  font-size: 30px;
  text-align: left;
  text-shadow: 3px 0 0 hsla(155.55555555555554, 100.00%, 30.33%, 1.00);
}

.heading.headingsection1 {
  margin-left: 26px;
  text-shadow: 3px 0 0 #009b5c;
}

.flex-block {
  align-items: center;
}

.flex-block-2 {
  width: 400px;
  margin-top: 50px;
  margin-bottom: 30px;
  justify-content: center;
}

.body1flex2 {
  width: 350px;
  margin-bottom: 2px;
}

.form-block {
  align-self: center;
  flex: 1;
}

.form {
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: space-between;
}

.inputinternetidentity {
  height: 40px;
  padding-right: 0px;
  padding-left: 0px;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 73.78%, 0.00);
  border-radius: 8px;

  background-color: hsla(278, 0.00%, 100.00%, 1.00);

  box-shadow: 0 0 9px 4px hsla(128.94117647058823, 100.00%, 50.00%, 0.41);

  font-family: Exo, sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
}

.submit-button {
  height: 40px;

  border-radius: 8px;

  background-color: hsla(280, 69.81%, 42.92%, 1.00);
  background-image: linear-gradient(325deg, hsla(280, 85.95%, 10.16%, 1.00), #8721ba);

  box-shadow: 0 0 5px 0 hsla(0, 0.00%, 100.00%, 0.20);

  font-family: Exo, sans-serif;
  font-size: 14px;
  font-weight: 600;
}